$color-primary: #69cb70;
$color-secondary: #ec6262;
$color-tetrary: #e79c5b;

$color-card-red: #c62c2c;
$color-card-border-red: #810606;

$color-card-yellow: #cdb351;
$color-card-border-yellow: #807020;

$color-card-green: #329f2d;
$color-card-border-green: #2f561d;

$color-card-blue: #4063b1;
$color-card-border-blue: #212d6e;

$color-card-white: #d3e3e2;
$color-card-border-white: #85928f;



$color-background: #39393e;

$color-info: #65b9e7;
$color-warning: #d6ca67;

$font-primary: 'Raleway', monospace;
$font-secondary: 'Courier New', monospace;